* {
    font-family: sans-serif;
}

html {
    background-color: #F3F4F7;
}

#prevBtn {
    z-index: 10;
    font-size: 50px;
    color: black;
    opacity: 0.6;
    cursor: pointer;
    position: relative;
}




#navn {
}
.wrapper {
    margin-left: 210px;
    margin-right: 210px;    
    max-width: 2400px;
    
}

.bookformular {
    text-align: center;
}

.field {
    width: 50%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    
}
.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: white;
    border: 2px solid rgba(30, 85, 250, 0.47);
    
}
.btn {
    width: 50%;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    background-color: grey;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    color: white;
}
.btn:hover{
    background-color: lightgray;
    color: darkslategrey;
}


.topbanner {
    background-image: url(../images/eaaaaaa.PNG);
    max-width: 100%;
    padding-top: 10%;
    background-repeat: no-repeat;
    float: none;
    
    

}
.boks1 {
  background-color: skyblue;
  width: 200px;
  border: 15px solid white;
  padding: 150px;
float: left;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    text-align: center;
}
   
.tiderne {
    text-align: center;
}



.knap {
    float: right;
    border: 1px solid blue;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}
.booktidknap {
    background: none;
    background-color: black;
    padding: 15px 25px;
    font-size: 25px;
    cursor: pointer;
    color: white;
}



.hey {

    font-size: 1.4em;
}

.faqlist {
    font-weight: bold;
    font-family: cursive;
    opacity: 0.8;
  
}

.faqlist2 {
opacity: 0.8;  
}


 {
    font-family: sans-serif, open-sans;
}

.flex1 {
    display: flex;
    justify-content: space-around;
    
}
.flex2 {
    display: flex;
    justify-content: space-around;
    
       
}

a {
    text-decoration: none;
    color:black;
}

